### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
# .gitignore

```gitignore
master.key
PRIVATE_CORE.json
PRIVATE_CORE.enc
.env
*.pem
*.db
__pycache__/
*.pyc
*.flf
#Test results file
TestResults.XML
